---
layout: default
title: The Peer Learning Guide
---
{% capture my-include %}{% include index.md %}{% endcapture %}
{{ my-include | markdownify }}

{% capture my-include %}{% include author.md %}{% endcapture %}
{{ my-include | markdownify }}

<div class="footer">
&copy; Copyright 2018 Salim Virani. 
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.2.1/jssocials.min.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.2.1/jssocials.css" />
<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.2.1/jssocials-theme-flat.css" />
<script>
jsSocials.setDefaults("twitter", {
    via: "sourceinst",
    hashtags: "peerlearning",
    text: "The Peer Learning Guide - how to make education responsive to a fast-changing world"
});

        $(".share").jsSocials({
            shares: [ "twitter", "facebook",  "linkedin", "whatsapp", "email"],
                showLabel: false,
        showCount: false,
            url: "{{url}}",
        });
</script>
