  .cover { float: right; width: 300px; margin: 0 5%; }
  .testimonial { float: left; width: 33%; padding: 0 5% 0 0; text-align: center; margin-bottom: 2rem;}
  .testimonial img { width: 50%; margin: 0px auto; }
  .testimonial h3 { text-align: center; margin-bottom: 0;}
  .testimonial .title { text-align: center; font-size: 70%; margin-bottom: 1rem;}
  img.profile { max-width: 200px; float: right; margin: 0 5%;}
  .cta { width: 100%; text-align: center; margin: 4rem auto; }
  .share  { float: right; width: 50px; text-align: right; margin: 1rem ; }
  .footer { font-size: 50%; }
  .price { font-size: 70%; }
  .jssocials-share:last-child, .jssocials-share:first-child { margin: 0.3em !important;}

  .tweets { width: 100%; padding: 0 20%; margin-bottom: 2rem;}

  @media only screen and (max-width: 620px) {
    
    .testimonial { float: none; width: 100%; padding: 0 5% 0 0; text-align: center;}

    .tweets { padding: 0; }

    img.profile { max-width: 40%; }
  }
  .posts .post { margin-bottom: 20px; }


.banner {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 800;
  background: #2A7971;
  color: #fff;
  position: absolute;
  right:-200px;
  top:40px;
  padding: 5px 200px;
  transform: rotate(30deg);
  z-index: 100;
  text-align:center;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
}
.banner:hover {
  background: #092816;
}

.banner a {
  color: #fff;
}
.banner a:hover {
  text-decoration: none;
}

.announcement {
  clear: both;
  width: 100%;
  text-align: center;
  margin: 0px 30px 60px 30px;
}
.announcement img {
  display: inline;
  margin: 0 30px -30px 0;
}

