<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>


  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/lanyon.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/custom.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

    <link rel="canonical" href="http://mentorimpact.com/" />
    <meta name="referrer" content="origin" />
    
    <meta property="og:site_name" content="The Peer Learning Guide" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="The Peer Learning Guide" />
    <meta property="og:description" content="How to make education responsive to a fast-changing world. Lessons from our heroes, and our own peer-learning programs on 5 continents." />
    <meta property="og:url" content="http://peerlearning.guide/" />
    <meta property="og:image" content="http://peerlearning.guide/public/img/peerlearningguidecover.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="The Peer Learning Guide" />
    <meta name="twitter:description" content="How to make education responsive to a fast-changing world. Lessons from our heroes, and our own peer-learning programs on 5 continents." />
    <meta name="twitter:url" content="http://peerlearning.guide/" />
    <meta name="twitter:image:src" content="http://peerlearning.guide/public/img/peerlearningguidecover.png" />
    
   
    <script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Website",
    "publisher": "The Peer Learning Guide",
    "author": {
        "@type": "Person",
        "name": "Source Institute",
        "image": "//http://source.institute/images/source_logo.svg",
        "url": "http://source.institute/",
        "description": "Source Institute designs education for fast-changing environments."
    },
    "headline": "The Peer Learning Guide",
    "url": "http://peerlearning.guide/",
    "image": "http://peerlearning.guide/public/img/peerlearningguidecover.png",
    "description": "We found the mentors that truly changed startups, and we asked them how they do it."
}
    </script>

  <!-- Icons -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

<!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik.source.institute/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '6']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->


</head>
