<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>


  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/lanyon.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/custom.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

    <link rel="canonical" href="http://mentorimpact.co/" />
    <meta name="referrer" content="origin" />
    
    <meta property="og:site_name" content="Mentor Impact" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Mentor Impact" />
    <meta property="og:description" content="We found the mentors that truly changed startups, and we asked them how they do it." />
    <meta property="og:url" content="http://mentorimpact.co/" />
    <meta property="og:image" content="http://mentorimpact.co/public/img/mentorimpact.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Mentor Impact" />
    <meta name="twitter:description" content="We found the mentors that truly changed startups, and we asked them how they do it." />
    <meta name="twitter:url" content="http://mentorimpact.co/" />
    <meta name="twitter:image:src" content="http://mentorimpact.co/public/img/mentorimpact.png" />
    
    <script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Website",
    "publisher": "Mentor Impact",
    "author": {
        "@type": "Person",
        "name": "Salim Virani",
        "image": "//www.gravatar.com/avatar/1b59d562bea77cabd252a8b4e3f0095a?d=404&s=250",
        "url": "http://salimvirani.com/",
        "sameAs": "http://mentorimpact.co/",
        "description": "Salim started Source, Founder Centric, Leancamp &amp; 5 tech startups. He&#x27;s worked with a bunch of startup thought leaders, and designed education programmes for Europe&#x27;s top accelerators &amp; universities."
    },
    "headline": "Mentor Impact",
    "url": "http://mentorimpact.co/",
    "image": "http://mentorimpact.co/public/img/mentorimpact.png",
    "description": "We found the mentors that truly changed startups, and we asked them how they do it."
}
    </script>

  <!-- Icons -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
